<% title @diamond.name %>

<div class="diamond">
  <div class="row">
    <div class="large-10 large-centered columns">
      <div class="crumbs">
        <%= link_to 'All Diamonds', '/diamonds', :title => 'View All HPHT Diamonds' %> / 
        <%= link_to "#{@diamond.color_category.titleize} Diamonds", @diamond.color_category_url, :title => "#{@diamond.color_category.titleize} HPHT Diamonds" %> / 
        <span><%= @diamond.name %></span>
      </div>
      <h1><%= @diamond.name %></h1>
    </div>
  </div>


  <div class="row">
    <div class="large-10 large-centered columns">
      <div class="row">
        <div class="large-7 columns">
          <%= image_tag @diamond.photo.large, :class => 'diamond-photo' %>
          <% if @diamond.description.present? %>
            <p><%= @diamond.description %></p>
          <% end %>
        </div>

        <div class="large-5 columns">

          <div class="price">
            <% if @diamond.price.present? %>
              <%= number_to_currency @diamond.price %>
            <% else %>
              Inquire for Price
            <% end %>
          </div>

          <ul class="data">
            <% if @diamond.weight.present? %>
              <li>
                <strong>Weight:</strong>
                <%= @diamond.weight %>ct
              </li>
            <% end %>

            <% if @diamond.quantity.present? %>
              <li>
                <strong>Quantity:</strong>
                <%= @diamond.quantity %>
              </li>
            <% end %>

            <% if @diamond.shape.present? %>
              <li>
                <strong>Shape:</strong>
                <%= @diamond.shape %>
              </li>
            <% end %>

            <% if @diamond.color.present? %>
              <li>
                <strong>Color:</strong>
                <%= @diamond.color %>
              </li>
            <% end %>

            <% if @diamond.clarity.present? %>
              <li>
                <strong>Clarity:</strong>
                <%= @diamond.clarity %>
              </li>
            <% end %>

            <% if @diamond.measurements.present? %>
              <li>
                <strong>Measurements:</strong>
                <%= @diamond.measurements %>
              </li>
            <% end %>

            <% if @diamond.total_depth.present? %>
              <li>
                <strong>Total Depth:</strong>
                <%= @diamond.total_depth %>%
              </li>
            <% end %>

            <% if @diamond.table_size.present? %>
              <li>
                <strong>Table Size:</strong>
                <%= @diamond.table_size %>%
              </li>
            <% end %>

            <% if @diamond.polish.present? %>
              <li>
                <strong>Polish:</strong>
                <%= @diamond.polish %>
              </li>
            <% end %>

            <% if @diamond.symmetry.present? %>
              <li>
                <strong>Symmetry:</strong>
                <%= @diamond.symmetry %>
              </li>
            <% end %>

            <% if @diamond.fluorescence.present? %>
              <li>
                <strong>Fluorescence:</strong>
                <%= @diamond.fluorescence %>
              </li>
            <% end %>

            <% if @diamond.gia_report_number.present? %>
              <li>
                <strong>GIA Report #:</strong>
                <%= @diamond.gia_report_number %>
              </li>
            <% end %>
          </ul>

          <div class="panel callout">
            <div class="header">Interested?</div>  
            <p>Give us a call at (213) 623-1537 or send us an email at <a href="mailto:info@hphtdiamonds.com">info@hphtdiamonds.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @diamond.certificate.present? %>
    <div class="row certificate">
      <div class="large-10 large-centered columns">
        <h2>GIA Certificate</h2>
        <%= image_tag @diamond.certificate %>
      </div>
    </div>
  <% end %>
</div>
