<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if has_content_for(:title) %>
      <title><%= yield(:title) %> | HPHT Diamonds</title>
    <% else %>
      <title>HPHT Diamonds | Working With Nature</title>
    <% end %>
    
  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <a href="/" title="HPHT Diamonds - Working With Nature"><%= image_tag 'logo.png' %></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'landing' %>class="active"<% end %>><a href="/" title="HPHT Diamonds - Working With Nature">Home</a></li>
          <li class="divider hide-for-small"></li>
          <li <% if params[:controller] == 'diamonds' %>class="has-dropdown active"<% else %>class="has-dropdown"<% end %>>
            <a href="/diamonds" title="Our Diamonds">Our Diamonds</a>
            <ul class="dropdown">
              <% COLOR_CATEGORIES.each_pair do |color, i| %>
                <li <% if params[:color] && params[:color].gsub('-', ' ') == color %>class="active"<% end %>><%= link_to "#{color.titleize} Diamonds", "/#{color.gsub(' ', '-')}-diamonds", :title => "#{color.titleize} HPHT Diamonds" %></li>
              <% end %>
            </ul>
          </li>
          <li class="divider hide-for-small"></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'the_process' %>class="active"<% end %>><a href="/process" title="The HPHT Diamond Process">The Process</a></li>
          <li class="divider hide-for-small"></li>
          <li <% if params[:controller] == 'pages' && params[:action] == 'faq' %>class="active"<% end %>><a href="/faq" title="The HPHT Diamond FAQ">FAQ</a></li>
        </ul>
      </section>
    </nav>

    <section class="content">
      <%= yield %>
    </section>

    <footer>
      <p>Please contact: Robert J. Galask 550 South Hill Street Suite 1290 Los Angeles, CA 90013 1-213-623-1537 Email: info@hphtdiamonds.com</p>
      <div class="tagline">Working With Nature</div>
    </footer>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
